.groundCell {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  background: navy;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.screen {
  display: flex;
  flex-wrap: nowrap;
}

#table {
  width: 600px;
  text-align: center;
}

.control {
  width: 500px;
}
